input/**/*.xml
input/**/*.xls
input/**/*.txt
input/**/*.xlsx
input/**/*.xlk
input/**/*.data
output/**/*.xml
output/**/*.xls
output/**/*.xlsx
output/**/*.xlk
output/**/*.data
output/**/*.txt
**/*.DS_Store
**/*.pyc
**/*.raw
**/*/data
**/*/*.txt
input/**/~*.*
output/**/~*.*
